/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #5a0404;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color: #0f0101;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#menu {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    }
#menu li {
    display: inline-block; 
    margin-right: 20px; 
}

#category {
    background: white;
    color: #0b053f ;
    font-weight: 500;
     width: 30%;
     border: 1px solid #0b053f;
     padding: 10px;
  
}

#difficulty {
    background: white;
    color: #0b053f ;
    font-weight: 500;
     width: 20%;
     border: 1px solid #0b053f;
     padding: 10px;
  
}
.Quiz{
    background: rgb(184, 164, 164);
    width: 100%;
    max-width: 700px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 40px;
   

}

.Quiz h1 {
    font-size: larger 30px;
    color: #0f0101;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.question {
    padding: 20px 0;
}
 .question h2 {
    font-size: 20px;
    color: #0c032e;
    font-weight:600px;
 }

 .choice:hover{
    background: #7b34ff;
    color: #f5f1f1;
 }


 .choice {
    background: white;
    color: #0b053f ;
    font-weight: 500;
     width:100%;
     border: 1px solid #0b053f;
     padding: 10px;
     margin: 10px 0;
     text-align: left;
     border-radius: 4px;
     cursor: pointer;

 }


#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #f5f1f1;
}